<%= form_with(model: @expense, url:expense_create_expense_path(id: current_user.id), method: :get,local: true) do |f| %>
  <div class="center-block" style="width: 500px;">
  
  <%= f.label :日付, class: "label-#{yield(:class_text)}" %>
  <%= f.date_field :expenses_day, in:1..100, class: "form-control" %>
  
  <%= f.label :経費備考, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :expenses_note, class: "form-control",style:"width: 500px" %>
  
  <%= f.label :経費金額, class: "label-#{yield(:class_text)} " %>
  <%= f.text_field :expenses_money, class: "form-control",style:"width: 500px" %><br>
  
  <%= f.submit :新規追加, class: "form-control btn btn-primary #{yield(:class_text)}" %>
  
  </div>
<% end %>