<% provide(:title, @user.name) %>
<div>
  <table border="2", class="expense">
    <thead class="expense">
      <tr>
        <td class="h3" colspan="4">経費精算表</td>
      </tr>
      <tr>
        <td class="h7"><%= link_to "◀", users_path(id: current_user.id, date: @first_day.prev_month) %>
          <%= l(@first_day, format: :middle) %>
        <%= link_to "▶", users_path(id: current_user.id, date: @first_day.next_month) %></td>
        <td class="h7" colspan="2">名前　<%= @user.name %></td>
      </tr>
      <tr>
        <td class="h7">　　　承認者確認　　　　</td>
        <td class="h7">申請金額　</td>
      </tr>
    </thead>
  </table>
    <div>
      <table border="2", class="expensebody">
        <tbody>
          <tr>
            <th class="h8">日付</th>
            <th class="h8">　　　　備考　　　　</th>
            <th class="h8">経費金額</th>
            <th class="h8">　　　</th>
          </tr>
          </tbody>
          <tbody>
          <% @expenses.each do |exp| %>
          <tr>
           <td><%= l(exp.expenses_day, format: :short)  %></td>
           <td><%= exp.expenses_note %></td>
           <td><%= number_to_currency(exp.expenses_money, unit: "￥", strip_insignificant_zeros: true) %></td>
           <td><%= link_to "削除", expense_destroy_expense_path(exp.id),method: :delete,
                            data: { confirm: "削除してもよろしいですか？" },
                            class: "btn btn-primary btn-sm" %></td>
          </tr>
          <%end%>
        </tbody>
              </table>
     </div>
         <div>
      <table border="2", class="expensebody">
        <tbody>
       <tr>
        <div class="panel panel-default expense_table">
          <div class="panel-heading">
            <button type="button" data-toggle="collapse" data-target="#collapse" class="btn btn-primary btn-sm">経費精算追加</button>
          </div>
        </div>
          <div id="collapse" class="panel-collapse collapse">
            <div class="panel-body"><%= render 'expense_form' %></div>
        </tr>
                </tbody>
     </div>
     <div>
        <tfoot>
          <tr>
          <th class="h8">登録合計<%= number_to_currency(@expenses_sum, unit: "￥", strip_insignificant_zeros: true)%></th>
            <td>
                <%= form_with(model: @user, url: expense_request_expense_path(@user),local: true,  method: :patch) do |f| %>
                <%#= f.select :expense_confirmation, options_from_collection_for_select(@superiors, :name, :name, 1), {include_blank: true}, { class: "form-control" } %>
                <%= f.hidden_field :update_expense_day, :value => @first_day %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.hidden_field :request_money, :value => @expenses_sum %>
                <%= f.hidden_field :expense_confirmation_status, :value => "申請中" %>
                <%= f.submit "精算申請", class: "btn-top btn-primary btn-sm " %>
                <%end%>
            </td>
          </tr>
        </tfoot>
      </div>
     </table>
</div>