<% if user_signed_in? %>
  <% provide(:title, @user.name) %>
  <td>　　</td>
  <td>　</td>
  <div>
    <table class="Lexpense">
     <thead class="Lexpense">
        <tr>
         <td class="h3">
          <table  class="Lexpense">
          <tr>
          <td>
            <%= l(@first_day, format: :middle) %> 経 費 精 算 表
          </td></tr>
          <tr><td>名前 <%= @user.name %></td></tr>
           </table>
           </td>
           <td class="h6">
           <table border="", class="Rexpense">
           <tr>
          <th class="h7", style="width: 120px">清算確認</th>
          <td  class="h7", style="width: 200px">
           <% if @expenses_request.present?%>
              <% unless @expenses_request == nil %>
                <% if @expenses_request.expense_confirmation_status == "申請中" %>
                 <%= @expenses_request.expense_confirmation %>へ申請中
                <% end %>
                <% if @expenses_request.expense_confirmation_status == "承認" %>
                  <%= @expenses_request.expense_confirmation %>承認済
            <% end %>
            <% else %>
              <%="―—"%>
            <% end %>
          <% else %>
              <%="―—"%>
           <% end %>
          <% end %>
          </td>
          </tr>
          <tr>
          <th class="h7">申請金額</th>
          <td class="h7">
           <% if @expenses_request.present?%>
              <% unless @expenses_request == nil %>
                <% if @expenses_request.expense_confirmation_status == "申請中" %>
                <%= number_to_currency(@expenses_request.request_money, unit: " ¥", strip_insignificant_zeros: true) %>
                <% end %>
                <% if @expenses_request.expense_confirmation_status == "承認" %>
                <%= number_to_currency(@expenses_request.request_money, unit: " ¥", strip_insignificant_zeros: true) %>　　
              <% end %>
              <% else %>
                <%="　　¥0　　"%>
            <% end %>
           <% else %>
            <%="　　¥0　　"%>
           <% end %>
          </td>
        </tr>
      </thead>
    </table>
    </td>
    </tr>
    </table>
    </div>
       <table border="", class="expensebody">
          <tbody class="expensebody2">
            <tr>
              <th class="h8">日付</th>
              <th class="h8">　経　費　備　考　</th>
              <th class="h8", style="width: 160px">経　費　金　額</th>
            </tr>
          </tbody>
          <tbody class="expensebody2">
            <% @expenses.each do |exp| %>
              <tr>
                 <td><%= l(exp.expenses_day, format: :short)  %></td>
                 <td><%= exp.expenses_note %></td>
                 <td><%= number_to_currency(exp.expenses_money, unit: "¥ ", strip_insignificant_zeros: true) %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
  </div>

